@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  color: black;
}

:root {
  --main-color: hsl(26, 100%, 55%);
  --pale-orange: hsl(25, 100%, 94%);
  --Very-dark-blue: hsl(220, 13%, 13%);
  --Dark-grayish-blue: hsl(219, 9%, 45%);
  --Grayish-blue: hsl(220, 14%, 75%);
  --Light-grayish-blue: hsl(223, 64%, 98%);
  --White: hsl(0, 0%, 100%);
  --Black: hsl(0, 0%, 0%);
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Kumbh Sans", sans-serif;
}

main {
  position: relative;
  width: 100%;
  height: 100svh;
  padding: 0 9%;
}

img,
button {
  cursor: pointer;
}

.hidden {
  display: none !important;
}

.header {
  width: 100%;
  height: 12rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 1rem;
  border-bottom: 2px solid var(--Light-grayish-blue);
}

.nav {
  display: flex;
  align-items: center;
  gap: 5rem;
}

.logo {
  font-size: 3.2rem;
  font-weight: 700;
  letter-spacing: 0.05rem;
}

.links-box {
  display: flex;
  gap: 3.4rem;
  align-self: center;
  margin-top: 0.6rem;
}

.nav-item {
  position: relative;
  font-size: 1.6rem;
  color: var(--Dark-grayish-blue);
  transition: 0.3s;
}

.nav-item:hover {
  color: var(--Black);
  transition: 0.3s;
}

.nav-item::before {
  content: "";
  position: absolute;
  height: 4px;
  width: 100%;
  bottom: -5rem;
  left: 0;
  background-color: transparent;
  transition: 0.3s;
}
.nav-item:hover::before {
  background-color: var(--main-color);
}

.profile {
  display: flex;
  gap: 2.4rem;
  align-items: center;
}

.profile img[alt="cart icon"] {
  transition: 0.2s;
  height: 2rem;
}

.profile img[alt="cart icon"]:hover {
  filter: brightness(0);
}

.profile img[alt="profile picture"] {
  height: 6rem;
  border-radius: 50%;
  transition: 0.3s;
}

.profile img[alt="profile picture"]:hover {
  box-shadow: 2px 0px 4px var(--main-color), 0px 2px 4px var(--main-color),
    -2px 0px 4px var(--main-color), 0px -2px 4px var(--main-color);
}

/* 
    Add rotation effect
*/
/* .pic-rounded-container {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pic-rounded-container .rotate-div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  border-left: 4px solid transparent;
  border-top: 4px solid transparent;
  border-right: 4px solid transparent;
  border-bottom: 4px solid transparent;
  border-radius: 50%;
  z-index: 50;
  transform: translate(-0.5rem, -0.5rem);
}

.pic-rounded-container:hover .rotate-div {
  border-top: 4px solid var(--main-color);
  border-bottom: 4px solid var(--main-color);
  transform: translate(-0.5rem, -0.5rem);
  animation: rotation 2s linear infinite;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

.display-window {
  margin: 10rem 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 10rem;
}

.display-block {
  justify-self: end;
}

.showcased-item img {
  width: 40rem;
  border-radius: 20px;
  margin-bottom: 2.5rem;
}

.all-images {
  display: flex;
  gap: 2.5rem;
}

.image-box {
  border-radius: 20px;
  transition: 0.3s;
  overflow: hidden;
}

.all-images img {
  width: 8rem;
  border-radius: 20px;
  transform: scale(1);
  transition: 0.3s;
}

.info-block {
  position: relative;
  margin: auto 0;
  width: 60rem;
}

.company {
  text-transform: uppercase;
  color: var(--Dark-grayish-blue);
  letter-spacing: 0.05rem;
  font-weight: 700;
  font-size: 1.4rem;
  margin-bottom: 2rem;
}

.title {
  font-size: 4.8rem;
  line-height: 1.125;
  font-weight: 600;
  margin-bottom: 3rem;
}

.item-info {
  color: var(--Dark-grayish-blue);
  font-size: 1.8rem;
  line-height: 1.5;
  margin-bottom: 2rem;
}

.price {
  font-size: 2.8rem;
  font-weight: 700;
  margin-bottom: 1.6rem;
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.current-price {
  margin-left: -1.6rem;
}

.discount {
  color: #fff;
  background-color: var(--Black);
  border-radius: 9px;
  font-size: 1.5rem;
  width: 5.2rem;
  height: 2.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.original-price {
  color: var(--Dark-grayish-blue);
  text-decoration: line-through;
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 2rem;
}

.purchase-box {
  width: 40rem;
  display: flex;
  gap: 1.6rem;
  height: 4.6rem;
}

.quantity-choice {
  height: 4.6rem;
  display: flex;
  width: 35%;
  justify-content: space-around;
  align-items: center;
  background-color: var(--Light-grayish-blue);
  border-radius: 9px;
}

.quantity {
  font-size: 1.4rem;
  font-weight: 700;
  width: 1rem;
}

.btn-styled {
  width: 60%;
  border-radius: 9px;
  background-color: var(--main-color);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
}

.btn-styled:hover {
  background-color: #fbdab5;
}

.btn-styled img {
  filter: brightness(0);
  margin-right: 1.4rem;
  width: 1.8rem;
}

.btn-styled p {
  font-weight: 700;
  font-size: 1.5rem;
}

/* active imgage */
/* .active-box {
  position: relative;
}

.active-box::before {
  display: inline-block;
  position: absolute;
  content: "";
  width: calc(100% - 4px);
  height: calc(100% - 4px);
  border-radius: 20px;
  border: 2px solid var(--main-color) !important;
  background-color: #fdf4ea;
  opacity: 0.85;
  filter: contrast(1.1);
  z-index: 5;
} */

.image-box.active-box {
  transform: scale(1.1);
}
.image-box.active-box img {
  transform: scale(1.2);
  transition: 0.3s;
  border-radius: 20px;
}
/* 
.image-box.active-box::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;

  background-color: #ecc1717a;
  border-radius: 20px;
} */

.zoom {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  background: transparent;
  overflow: hidden;
  z-index: 1;
}

/* slide effect */

.pop-up {
  position: absolute;
  width: 100%;
  height: 100svh;
  background-color: rgba(64, 45, 27, 0.396);
  transform: translateX(-9%);
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider {
  position: relative;
  width: 50rem;
  height: 50rem;
  background: transparent;
  border-radius: 20px;
}

.container {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.container > img {
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.3s;
  width: 50rem;
  height: 50rem;
  border-radius: 20px;
  z-index: -1;
}

.btn-slide {
  position: absolute;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slide-rigth {
  top: 50%;
  right: 0;
  transform: translate(50%, -50%);
}
.slide-left {
  top: 50%;
  left: 0;
  transform: translate(-50%, -50%);
}

.full-space {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  cursor: pointer;
}

.dots .all-images {
  position: absolute;
  bottom: -13.2rem;
  display: flex;
  gap: 3.333rem;
}

.dots img {
  width: 10rem;
}

/* 
    Shopping list style
 */

.shopping-list {
  width: 40rem;
  height: fit-content;
  background-color: #fff;
  position: fixed;
  top: 10rem;
  right: 10rem;
  box-shadow: 0px 15px 50px 2px rgba(0, 0, 0, 0.1);
  z-index: 1;
}

.shopping-list-title {
  font-size: 2rem;
  padding: 2rem;
}

.listed-item {
  padding: 3rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  border-top: 2px solid var(--Light-grayish-blue);
}

.summary {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.summary img[alt="product image"] {
  height: 8rem;
  border-radius: 4px;
}

.product-summary-name {
  font-size: 1.4rem;
  color: var(--Dark-grayish-blue);
  line-height: 1.5;
  letter-spacing: 0.05rem;
  margin-bottom: 1.4rem;
}

.price-summary {
  display: flex;
  gap: 2.6rem;
  align-items: center;
}

.summary-original-price {
  font-size: 1.4rem;
  color: var(--Dark-grayish-blue);
  line-height: 1.5;
}

.summary .current-price {
  font-size: 1.4rem;
  font-weight: 700;
  color: var(--Black);
}

.shopping-list .btn-styled {
  height: 5rem;
  width: 100%;
}

.btn-remove-product {
  width: 2rem;
  transition: 0.2s;
}
.btn-remove-product:hover {
  filter: brightness(0);
}

.no-item-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 12rem;
}

.no-item {
  display: flex;
  gap: 2rem;
  flex-direction: row;
  align-items: center;
  font-size: 1.8rem;
  color: var(--Dark-grayish-blue);
  letter-spacing: 0.1px;
}

.no-item i {
  font-size: 3rem;
  display: inline-block;
  color: var(--Dark-grayish-blue);
}
